@import url("./cadastro.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
   background-image: url("../img/wolfgang-hasselmann-1qddD4SgrwE-unsplash.jpg");
   background-size: cover;
   background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --shadow-image: drop-shadow(rgba(0, 0, 0, 0.35) 0px 3px 8px);
  --bege-area: #f4e1c1;
  --dourado-suave: #e6c28b;
  --amarelo-deserto: #ffe4b5;
  --caramelo-claro: #f5cba7;
  --vermelho-argila: #bc4b51;
}